@{
   ViewBag.Title = "_7_TabelaZeStronicowaniem";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   body {
      font-family: arial;
      font-size: 14px;
   }

   .liveExample {
      padding: 1em;
      background-color: #EEEEDD;
      border: 1px solid #CCC;
      max-width: 655px;
   }

      .liveExample input {
         font-family: Arial;
      }

      .liveExample b {
         font-weight: bold;
      }

      .liveExample p {
         margin-top: 0.9em;
         margin-bottom: 0.9em;
      }

      .liveExample select[multiple] {
         width: 100%;
         height: 8em;
      }

      .liveExample h2 {
         margin-top: 0.4em;
      }

   .ko-grid {
      margin-bottom: 1em;
      width: 25em;
      border: 1px solid silver;
      background-color: White;
   }

      .ko-grid th {
         text-align: left;
         background-color: Black;
         color: White;
      }

      .ko-grid td, th {
         padding: 0.4em;
      }

      .ko-grid tr:nth-child(odd) {
         background-color: #DDD;
      }

   .ko-grid-pageLinks {
      margin-bottom: 1em;
   }

      .ko-grid-pageLinks a {
         padding: 0.5em;
      }

         .ko-grid-pageLinks a.selected {
            background-color: Black;
            color: White;
         }

   .liveExample {
      height: 20em;
      overflow: auto;
   }
   /* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

   li {
      list-style-type: disc;
      margin-left: 20px;
   }
</style>

<h2>Paged simple grid - Tabela Ze Stronicowaniem</h2>


<div class='liveExample'>
   <div data-bind='simpleGrid: gridViewModel'> </div>

   <button data-bind='click: dodajPozycje'>Add item</button>
   <button data-bind='click: sortujWgNazwy'>Sort by nazwa</button>
   <button data-bind='click: doPierwszejStrony, enable: gridViewModel.currentPageIndex'>
      Jump to first page
   </button>
</div>

   @*<script src="~/Scripts/jquery-2.1.1.min.js"></script>
   <script src="~/Scripts/knockout-3.2.0.js"></script>*@
   <script src="~/Scripts/knockout.simpleGrid.3.0.js"></script>
   <script type="text/javascript">
      var danePoczatkowe = [
          { nazwa: "Well-Travelled Kitten", sprzedaz: 352, cena: 75.95 },
          { nazwa: "Speedy Coyote", sprzedaz: 89, cena: 190.00 },
          { nazwa: "Furious Lizard", sprzedaz: 152, cena: 25.00 },
          { nazwa: "Indifferent Monkey", sprzedaz: 1, cena: 99.95 },
          { nazwa: "Brooding Dragon", sprzedaz: 0, cena: 6350 },
          { nazwa: "Ingenious Tadpole", sprzedaz: 39450, cena: 0.35 },
          { nazwa: "Optimistic Snail", sprzedaz: 420, cena: 1.50 }
      ];

      var PagedGridModel = function (dane) {
         this.dane = ko.observableArray(dane);

         this.dodajPozycje = function () {
            this.dane.push({ nazwa: "Nowa pozycja", sprzedaz: 0, cena: 100 });
         };

         this.sortujWgNazwy = function () {
            this.dane.sort(function (a, b) {
               return a.nazwa < b.nazwa ? -1 : 1;
            });
         };

         this.doPierwszejStrony = function () {
            this.gridViewModel.currentPageIndex(0);
         };

         this.gridViewModel = new ko.simpleGrid.viewModel({
            data: this.dane,
            columns: [
                { headerText: "Nazwa", rowText: "nazwa" },
                { headerText: "Sprzedaż", rowText: "sprzedaz" },
                { headerText: "Cena", rowText: function (pozycja) { return pozycja.cena.toFixed(2) + " zł" } }
            ],
            pageSize: 3
         });
      };
      ko.applyBindings(new PagedGridModel(danePoczatkowe));
   </script>


