@{
   ViewBag.Title = "Test_KO";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test_KO</h2>



<h2>Participants</h2>
Here are the participants:
<div data-bind="template: { name: 'person-template', data: buyer }"></div>
<div data-bind="template: { name: 'person-template', data: seller }"></div>


<script type="text/html" id="person-template">
   <h4 data-bind="text: name"></h4>
   <p>Credits: <span data-bind="text: credits"></span></p>
</script>

<script type="text/javascript">
   function MyViewModel() {
      this.buyer = { name: 'Franklin', credits: 250 };
      this.seller = { name: 'Mario', credits: 5800 };
      this.seller = { name: 'Hanry', credits: 5200 };
   }
   ko.applyBindings(new MyViewModel());
</script>