@using _05_Hello.ViewModel
@model PracownikListViewModel
@{
   Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section SekcjaTytul { 
   Pracownicy  
}
@section Zawartosc {
   <div>

      @{
         Html.RenderAction("Pobierz_DodajPracLink");
      }
      <table border="1">
         <tr>
            <th>Nazwa</th>
            <th>Pensja</th>
         </tr>
         @foreach (PracownikViewModel item in @Model.Pracownicy) {
            <tr>
               <td>@item.Pracownik</td>
               <td style="background-color:@item.PensjaKolor">@item.Pensja</td>
            </tr>
         }
      </table>
   </div>
}