
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyViewData</title>
</head>
<body>
    <div> 
      @{
         _05_Hello.Models.Pracownik emp = (_05_Hello.Models.Pracownik)ViewData["Pracownik"];
      }
      <b>Pracownik</b><br />
       Nazwa: @emp.Imie @emp.Nazwisko<br />
       Pensja: @emp.Pensja.ToString("C") <br />
       

    </div>
</body>
</html>
