@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>MyView2</title>
</head>
<body>
   <div>
      @{
         _05_Hello.Models.Pracownik prac = (_05_Hello.Models.Pracownik)ViewBag.Pracownik;
      }
      <b>Pracownik</b><br />
      Nazwa: @prac.Imie @prac.Nazwisko<br />
      Pensja: @prac.Pensja.ToString("C")


   </div>
</body>
</html>
