<?xml version="1.0"?>
<configuration>
   <configSections>
      <!--NHibernate Configuration in Section tag-->
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
   </configSections>

   <!--NHibernate Configuration (Adding Properties)-->
   <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
      <session-factory>
         <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
         <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
         <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
         <property name="connection.connection_string">
            Server=.\SQLEXPRESS;
            Database=_NHibernate;
            Integrated Security=True;
         </property>
      </session-factory>
   </hibernate-configuration>

   <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
   </system.web>
</configuration>