@model IEnumerable<Contoso_DBFirst.ViewModels.EnrollmentDateGroup>

@{    ViewBag.Title = "Student body statistics...";}

<h2>@ViewBag.Title.</h2>


<table>
   <tr>
      <th>Enrollment Date</th>
      <th>Student Count</th>
   </tr>
@foreach (var item in Model) {
   <tr>
      <td>@Html.DisplayFor(modelItem=>item.EnrollmentDate)</td>
      <td>@Html.DisplayFor(modelItem=>item.StudentCount)</td>
   </tr>
}
</table>
